
ingredients/
*.zip
*100k*.tsv
output/

**/CVs/
/glove.6B.zip
glove_data/
/recipes_fruit_veg.csv
vocab.txt
recipes_fruit_veg.csv
/recipes_fruit_veg.csv
/glove.6B.zip
/glove_data/
/ingredients/
/vocab.txt
*100k*.tsv


**/__pycache__/
*.pyc
*.bin
*.pt
*.txt
bert_model/
/distilbert-local-base/

/output/
*.zip

*.txt
**/CVs/

**/bert_model/
**/bert_tokenizer_local/
**/distilbert-local-base/